@media screen and (width: 1024px) {
  .total-cost .container-fluid .about-container .title-container {
    position: relative;
    top: 10px;
  }
  .total-cost .container-fluid .about-container {
    position: relative;
    top: 150px;
  }
  .total-cost .container-fluid .img-box {
    position: relative;
    top: 150px;
  }
  .total-cost .container-fluid .img {
    position: relative;
  }
  .select-chassis-version {
    position: relative;
    top: 150px;
  }

  .title-containe .button-style {
    position: relative;
  }
  .select-chassis {
    position: relative;
    top: 150px;
  }

  .change-page {
    position: relative;
    top: 55vh;
  }
}
@media screen and (width: 768px) {
  .content .title-page h1 {
    font-size: 40px;
    padding-left: 34vw;
    padding-right: 32vw;
  }
  .select-chassis .container-fluid .button-style {
    padding: 0;
  }
  br {
    display: none;
  }
  .total-cost .container-fluid .about-container .title-container {
    position: relative;
    top: 10px;
  }
  .total-cost .container-fluid .about-container {
    position: relative;
    top: 150px;
  }
  .total-cost .container-fluid .img-box {
    position: relative;
    top: 150px;
  }
  .total-cost .container-fluid .img {
    position: relative;
  }
  .select-chassis-version {
    position: relative;
    top: 150px;
  }

  .title-containe .button-style {
    position: relative;
  }
  .select-chassis {
    position: relative;
    top: 150px;
  }

  .change-page {
    position: relative;
    top: 45vh;
  }
}

@media screen and (max-width: 414px) {
  .content .title-page h1 {
    font-size: 40px;
    margin-left: 14vw;
    margin-right: 14vw;
  }
  .total-cost .container-fluid .about-container .title-container {
    text-align: center;
  }
  .total-cost .container-fluid .about-container {
    position: absolute;
    max-width: 250px;
    top: 15vh;
    left: 18vw;
    right: 18vw;
  }
  .total-cost .container-fluid .img-box {
    position: absolute;
    top: 55vh;
  }
  .total-cost .container-fluid .img {
    position: absolute;
    left: 20vw;
    right: 20vw;
  }
  .select-chassis-version {
    position: absolute;
    top: 105vh;
  }
  .col-3,
  .col-4 {
    flex: unset !important;
    max-width: unset !important;
  }
  .title-containe .button-style {
    position: relative;
  }
  .button-position {
    position: absolute;
  }
  .button-position-b1 {
    left: 13vh;
    right: 13vh;
  }
  .button-position-b2 {
    top: 18vh;
    left: 13vh;
    right: 13vh;
  }
  .select-chassis {
    position: absolute;
    top: 145vh;
  }
  .select-chassis-version .container-fluid,
  .select-chassis .container-fluid {
    width: 400px !important;
  }
  .select-chassis .title-container h5 {
    position: relative;
  }
  .button-position-b3 {
    left: 14vh;
    right: 14vh;
  }
  .button-position-b4 {
    top: 18vh;
    left: 14vh;
    right: 14vh;
  }
  .button-position-b5 {
    top: 35vh;
    left: 19vh;
    right: 19vh;
  }
  .change-page .button-padding {
    text-align: center !important;
  }
  .change-page {
    position: absolute;
    top: 205vh;
  }
}
@media screen and (height: 736px) {
  .content .title-page h1 {
    margin-left: 19vw;
    margin-right: 19vw;
  }
}
@media screen and (max-width: 375px) {
  .content .title-page h1 {
    left: 5vw;
    right: 5vw;
  }
  .total-cost .container-fluid .about-container {
    left: 14vw;
    right: 14vw;
  }

  .total-cost .container-fluid .img-box {
    left: -4vw;
  }
  .button-position-b1 {
    left: 10vh;
    right: 10vh;
  }
  .button-position-b2 {
    left: 10.5vh;
    right: 10.5vh;
  }
  .select-chassis-version .container-fluid,
  .select-chassis .container-fluid {
    width: 370px !important;
  }
  .button-position-b3 {
    left: 11.5vh;
    right: 11.5vh;
  }
  .button-position-b4 {
    left: 11.5vh;
    right: 11.5vh;
  }
  .button-position-b5 {
    left: 15.5vh;
    right: 15.5vh;
  }
}
@media screen and (max-width: 320px) {
  .total-cost .container-fluid .about-container {
    top: 30vh;
    left: 10%;
    right: 10%;
  }
  .total-cost .container-fluid .img-box {
    top: 80vh;
    left: 5vh;
  }
  .total-cost .container-fluid .img {
    left: 40%;
    right: 40%;
  }
  .select-chassis-version {
    top: 125vh;
  }
  .button-position-b1 {
    left: 10vh;
    right: 10vh;
  }
  .button-position-b2 {
    top: 18vh;
    left: 10vh;
    right: 10vh;
  }
  .select-chassis {
    top: 165vh;
  }
  .select-chassis-version .container-fluid,
  .select-chassis .container-fluid {
    width: 310px !important;
  }
  .button-position-b3 {
    left: 13vh;
    right: 13vh;
  }
  .button-position-b4 {
    top: 18vh;
    left: 13vh;
    right: 13vh;
  }
  .button-position-b5 {
    top: 35vh;
    left: 18vh;
    right: 18vh;
  }
  .change-page {
    top: 235vh;
  }
}
